{% extends 'base.html.twig' %}

{% block title %} ShareFood - Discussions {% endblock %}

{% block body %}
    <div class="container-fluid messages">
        <div class="container " style="padding-top: 180px; padding-bottom: 700px;">
            <h1 class="text-white text-center ">Vos échanges</h1>
            <div class="table-responsive">
                <table class="table text-white">

                    <thead>
                    <tr>

                        <th scope="col" class="text-center">Discussion</th>
                        <th scope="col" class="text-center">Message de</th>
                        <th scope="col" class="text-center">Message à</th>

                        <th scope="col" class="text-center">Discussion créee le</th>
                        <th scope="col" class="text-center">Nombres de messages</th>
                        <th scope="col" class="text-center">Voir la discussion</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for discussion in discussions %}

                            <tr>
                                <td class="text-center">{{ discussion.article.productName }}</td>
                                {% if discussion.user == app.user %}
                                    <td class="text-center"> moi</td>
                                    <td class="text-center"> {{ discussion.userTarget.firstName }}</td>

                                {% else %}
                                    <td class="text-center"> {{ discussion.user.firstName }}</td>
                                    <td class="text-center"> Moi</td>

                                {% endif %}


                                <td class="text-center">
                                    {{ discussion.createdAt | format_datetime('short', 'none', locale='fr') }} à
                                    {{ discussion.createdAt | format_datetime('none', 'short', locale='fr') }}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-warning p-2">{{ discussion.article.messages | length }}</span>
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('message_show', {'id': discussion.article.id}) }}"
                                       class="btn btn-sm btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}