{% extends 'base.html.twig' %}

{% block title %} ShareFood - Messages {% endblock %}

{% block body %}
    <div class="container-fluid messages">
        <div class="container " style="padding-top: 150px; padding-bottom: 700px;">
           <h1 class="text-white text-center mb-3">Fil de discussion </h1>
            {% for message in messages %}
                {% if  message.initialSender == true  %}
                    <div class="card mb-3 mx-auto d-block" style="max-width: 700px; ">
                        <div class="row no-gutters ">
                            <div class="card-header bg-primary">
                                <h6>{{ message.user.firstName }}</h6>
                                <small class=" font-italic font-weight-bold">{{ message.createdAt | format_datetime('short', 'none', locale='fr') }}</small>
                                à
                                <small class=" font-italic font-weight-bold">{{ message.createdAt | format_datetime('none', 'short', locale='fr') }}</small>
                            </div>

                            <div class="card-body  ">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                {% elseif message.initialSender == false  %}
                    <div class="card mb-3 mx-auto d-block" style="max-width: 700px; ">
                        <div class="row no-gutters ">
                            <div class="card-header  bg-warning">
                                <h6>{{ message.userTarget.firstName }}:</h6>
                                <small class=" font-italic font-weight-bold">{{ message.createdAt | format_datetime('short', 'none', locale='fr') }}</small>
                                à
                                <small class=" font-italic font-weight-bold">{{ message.createdAt | format_datetime('none', 'short', locale='fr') }}</small>
                            </div>
                            <div class="card-body">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class=" container mx-auto d-block mb-3 text-center   ">
                <a data-target="{{ path('message_product', {'id': article.id}) }}" data-tooltip="voir"
                   class="tooltipped modal-trigger btn btn-primary "
                   href="#modalSendMessage">Répondre </a>
            </div>
        </div>
    </div>

    {# Modal #}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="modalSendMessage">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">


                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app/sendMessageProduct.js') }}"></script>
{% endblock %}
