{#
TODO: Générer un fil de discussion entre utilisateurs avec catcha
#}
{% extends 'base.html.twig' %}

{% block title %} ShareFood - Détail Produit {% endblock %}

{% block body %}

    <div class="container-fluid product-contact">
        <div class="container" style="padding-top: 250px; ">
            <section class="mb-4">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4 text-white">
                    Contacter {{ article.user.firstName }} localisé(e) à, {{ article.location }} pour :
                    <br> " {{ article.productName }} "</h2>

                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5 mx-auto d-block text-white">

                        <!--form-->
                        <form id="contact-form" name="contact-form" method="POST">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="subject" name="subject" class="form-control">
                                        <label for="subject" class="">Sujet</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="message" name="message" rows="2"
                                                  class="form-control md-textarea"></textarea>
                                        <label for="message">Votre message</label>
                                    </div>

                                </div>
                            </div>
                        </form>

                        <div class="text-center text-md-left">
                            <a href="#" class="btn btn-primary">Envoyer</a>
                        </div>
                        <div class="status"></div>
                    </div>
                </div>
            </section>
        </div>
        <hr>

        <div class="container " style="padding-bottom: 50px">
            {% for message in messages %}
                {% if app.user or app.user == message.user  %}
                    <div class="card mb-3 mx-auto d-block" style="max-width: 540px;">
                        <div class="row no-gutters">

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{message.user.firstName}}</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Message du {{ message.createdAt | format_datetime('short','none',locale='fr')  }} à
                                            {{ message.createdAt | format_datetime('none','short',locale='fr')  }}
                                        </small>
                                    </p>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



{% endblock %}