{% extends 'base.html.twig' %}

{% block title %}ShareFood - Mes produits{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container-fluid myProducts">
        <div class="container " style="padding-top: 120px; padding-bottom: 800px">
            <div class="container ">
                {% for label, messages in app.flashes %}
                    <div class=" container-fluid col-md-6 mt-3 text-center">
                        <div class="alert alert-{{ label }} ">
                            {% for message in messages %}
                                <p>
                                    {{ message | raw }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-8  mx-auto d-block  mb-3">
                    <input type="text" name="searchProduct" class="form-control" id="searchProduct"
                           placeholder="Recherchez un produit...">
                </div>
                <!-- Page Heading -->
                <div class="row">
                    {% for article in articles %}
                        {% if date(article.expiratedAt) > date() and article.user == app.user and article.available == true %}
                            <div class="container productsList">
                                <div class="card mb-3 mx-auto d-block" style="max-width: 700px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('uploads/images/' ~ article.image) }}"
                                                 class="card-img p-3"
                                                 alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ article.productName }}</h5>
                                                <p class="card-text">{{ article.description }}</p>
                                                <p class="card-text"><small class="text-muted">Date d'expiration
                                                        : {{ article.expiratedAt | date('d/m/Y') }} <br> Publiée
                                                        par, {{ article.user.firstName }} de {{ article.location }}
                                                    </small>
                                                </p>

                                            </div>
                                        </div>

                                        <div class="container pb-2">
                                            {% if app.user.id == article.user.id %}
                                                <a href="{{ path('article_edit', {'id': article.id}) }}"
                                                   class="btn btn-primary">Modifier</a>
                                                <a href="" class="btn btn-success">Valider la livraison</a>
                                                <a href="{{ path('article_delete', {'id': article.id}) }}"
                                                   class="btn btn-danger">Supprimer</a>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- /.container -->

                {# Modal #}
                <div class="modal text-white fade bd-example-modal-sm" tabindex="-1" role="dialog"
                     id="modalSendMessage">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content products">
                            <div class="modal-header">


                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/app/sendMessageProduct.js') }}"></script>
        <script src="{{ asset('js/app/searchProduct.js') }}"></script>
    {% endblock %}
